Repository orcasound/aifororcas-livesystem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dthaler, @scottveirs, @micya, @akashmjn, @truashamu, @pastorep, @bnestor, @micowan, @skanderm

Fix InferenceSystem README: Add Python version requirements and troubleshooting (#295)
  InferenceSystem/README.md
Owners: @micya, @akashmjn, @truashamu

Update InferenceSystem dependabot config
  .github/dependabot.yml
Owners: @dthaler, @micya, @scottveirs

Add Andrews Bay hydrophone
  InferenceSystem/config/Production/FastAI_LiveHLS_AndrewsBay.yml
  InferenceSystem/demos/hls_reader.py
  InferenceSystem/deploy/andrews-bay.yaml
  InferenceSystem/src/LiveInferenceOrchestrator.py
  InferenceSystem/src/PrepareDataForPredictionExplorer.py
  InferenceSystem/src/globals.py
  ModeratorFrontEnd/AIForOrcas/AIForOrcas.Client.Web/appsettings.Development.json
  ModeratorFrontEnd/AIForOrcas/AIForOrcas.Client.Web/appsettings.json
Owners: @micya, @akashmjn, @truashamu, @micowan, @dthaler

Create a github workflow for testing InferenceSystem (#302)
  .github/workflows/InferenceSystem.yaml
  InferenceSystem/requirements.txt
  InferenceSystem/src/LiveInferenceOrchestrator.py
Owners: @dthaler, @micya, @scottveirs, @akashmjn, @truashamu

Update InferenceSystem dependabot config (#310)
  .github/dependabot.yml
Owners: @dthaler, @micya, @scottveirs

Add more detailed audio data flow diagram to README
  README.md
Owners: @dthaler, @scottveirs

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Refer to https://help.github.com/en/articles/about-code-owners

# Order is important; the last matching pattern takes the most
# precedence. Try to keep at least two owners (or an alias) per pattern.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

* @dthaler @scottveirs

/.github/ @dthaler @micya @scottveirs
/InferenceSystem/ @micya @akashmjn @truashamu
/ModelEvaluation/ @pastorep @akashmjn
/ModelTraining/ @pastorep @bnestor
/ModeratorFrontEnd/ @micowan @dthaler
/NotificationSystem/ @skanderm @micya @scottveirs @dthaler
